.step.slide#helpers[data-x=x_succ data-y=0]
  q
    span Helpers 
    small they help you!

.step.slide.code[data-x=x_succ data-y=0]
  q
    pre
      code[class="ruby"]
        | # meth will be available
          # in views
          module ApplicationHelper
            def meth
              ...
            end
          end