= render 'cover'
= render 'index'

/ Instalando e iniciando um projeto
= render 'installing'
= render 'creating'

/ MVC
= render 'mvc'

/ AR
= render 'slides/activerecord/migrations'
= render 'slides/activerecord/methods'
= render 'slides/activerecord/validations'
= render 'slides/activerecord/scopes'
= render 'slides/activerecord/relationships'
= render 'slides/activerecord/callbacks'

/ Controllers
= render 'slides/controllers/sharing_variables'
= render 'slides/controllers/scaffold'
= render 'slides/controllers/filters'

/ Views
/ = render 'erb'
= render 'slides/views/layout'
/ = render 'slides/views/partials'
= render 'slides/views/collections'
/ = render 'render_other_formats'

/ Helpers
= render 'slides/helpers'

/ i18n
= render 'slides/i18n'

/ SASS
= render 'slides/sass'