= render 'cover'
= render 'index'

/ Instalando e iniciando um projeto
= render 'installing'
= render 'creating'

/ MVC
= render 'mvc'

/ AR
= render 'slides/activerecord/migrations'
= render 'slides/activerecord/methods'
= render 'slides/activerecord/validations'
= render 'slides/activerecord/scopes'
= render 'slides/activerecord/relationships'
= render 'slides/activerecord/callbacks'

/ Views
/ = render 'erb'
/ = render 'layout'
/ = render 'partials'
/ = render 'render_collections'
/ = render 'render_other_formats'

/ Controllers
= render 'slides/controllers/sharing_variables'
= render 'slides/controllers/scaffold'
= render 'slides/controllers/filters'

/ Helpers
= render 'slides/helpers'