= render 'cover'
= render 'index'

/ Instalando e iniciando um projeto
= render 'installing'
= render 'creating'

/ MVC
= render 'mvc'


/ AR
= render 'slides/activerecord/migrations'
= render 'slides/activerecord/methods'
/ = render 'activerecord_validations'
/ = render 'testing_models'
/ = render 'activerecord_scopes'
/ = render 'activerecord_callbacks'
/ 
/ / Controllers
/ = render 'sharing_variables'
/ = render 'routes'
/ 
/ / Views
/ = render 'erb'
/ = render 'layout'
/ = render 'partials'
/ = render 'render_collections'
/ = render 'render_other_formats'
